* {
    background-color: rgb(244, 228, 199);
}

header {
    width: 100%;
    height: 100px;
    display: inline-block;
    position: relative;
}

.navbar{
    background-color: rgb(43, 43, 43);
    width: 1216px;
    height: 40px;
    list-style-type: none;
    position: absolute;
    top: 140px;
}

.bar{ 
    background-color:rgb(43, 43, 43);
    color: white;
    position: absolute;
    top: -2px;
    text-decoration: none;
}

li {
    background-color: rgb(43, 43, 43);
    float: left;
    text-align: center;
    font-size: 100px;
    list-style-type: none;
    padding: 8px;
    position: relative;
    left: 25px;
    width: 90px;
    top: 10px;
} 

.logou {
    position: absolute;
    top: 10px;
    left: 1125px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
  }

  .container {
    height: 30px;
    width: 100px;
    position: static;
    left: 1110px;
    background-color: rgb(232, 191, 135);
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
}

.dropdown{
    height: auto;
    width: auto;
    background-color: white;
    position: relative;
    top: -50px;
    left: 1110px;
    display: none;
}

a{ 
    color: black;
    display: block;
    text-align: left;
    padding-left: 5px;
    font-size: 14px;
    text-decoration: none;
}

a:hover {
    background-color: rgb(232, 191, 135);
    color: white;
}

.container:hover .dropdown{
    display: block;
}

.active {
    background-color:  rgb(247, 201, 116);
  }

input {
    top: 20px;
    padding: 3px;
    margin: 7px;
}

.image{ 
    position: absolute;
    left: 750px;
    top: 250px;
}

.um {
    position: absolute;
    top: 0px;
    left: 4px;
}